.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.db
*.log
.vscode/
*.nupkg
*.DS_Store
ProjectManagementApp.csproj.user
*.vsidx
/.idea/
/node_modules/
/*.env
appsettings.Development.json
bin/**
obj/**
*.pid
